@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");

:root {
  /* colors */
  --primary-color: #394b78;
  --secondary-color: #212a41;
  --white: rgb(240, 250, 240);
  --title-fontsize: 35px;
  --subheading-fontsize-h1: 28px;
  --subheading-fontsize-h2: 25px;
  --regular-fontsize: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.7),
      rgba(129, 171, 255, 0.5)
    ),
    url("EDSA_-_Pasay_Tramo_(Pasay)(2017-08-04)_(3).jpg");
  background-size: cover;
  background-position: center center;
}
.nav {
  position: fixed center;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  margin-bottom: 5em;
  background: #416188;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #fff;
  text-decoration: none;
}
.nav .brand-name {
  font-size: var(--title-fontsize);
  font-weight: 600;
}
.nav .nav-links {
  column-gap: 35px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}

.nav-links a {
  font-size: var(--subheading-fontsize-h2);
}

.logo-png {
  width: 70px;
  height: auto;
}

.container-1 {
  margin: 0 auto;
  width: 60em;
  border-radius: 10px;
  background-color: yellow;
  padding: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.title-heading {
  position: relative;
  font-size: var(--subheading-fontsize-h1);
  font-weight: 500;
  color: #333;
}

.title-heading::before {
  content: "";
  position: absolute;
  left: 5px;
  bottom: -3px;
  height: 5px;
  width: 3em;
  border-radius: 6px;
  background-color: #333;
}

.container-1 form {
  position: relative;
  margin-top: 16px;
  /* remove the minheight later para kusa mag fit yung buttons */
  min-height: 500px;
  background-color: burlywood;
  overflow: hidden;
}

.container-1 form .title-sub-heading {
  display: block;
  margin-bottom: 8px;
  font-size: var(--subheading-fontsize-h2);
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}

.container-1 form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
